header {
  background-color: #0c0c0c;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 3rem;
}

.navigation {
  font-size: 1.5rem;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation ul a {
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

.navigation ul a.active {
  border-bottom: 3px solid white;
}

header li:last-of-type {
  position: relative;
}

.cartLength {
  background-color: white;
  color: #0c0c0c;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

@media (width < 500px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
}
