.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.imageSlider {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.imageSlider button {
  color: #0c0c0c;
  background-color: transparent;
  border: 2px solid #0c0c0c;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.imageSlider button:hover {
  color: white;
  background-color: #0c0c0c;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 800px;
  height: 250px;
}

.image {
  width: 250px;
  height: 250px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
}

.image img {
  padding: 5px;
  display: block;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
