.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.imageSliderContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.imageSlider button {
  color: #0c0c0c;
  background-color: transparent;
  border: 2px solid #0c0c0c;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.imageSlider button:hover {
  color: white;
  background-color: #0c0c0c;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 250px;
}

.image {
  width: 250px;
  height: 250px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
}

.image img {
  padding: 5px;
  display: block;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  border: 2px solid #0c0c0c;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100px;
  display: block;
  transition: transform 250ms;
}

.dot:hover {
  transform: translateY(-2px);
  transition: transform 250ms;
}

.active {
  background-color: #0c0c0c;
}

@media (width < 1200px) {
  .image {
    width: 200px;
    height: 200px;
  }

  .imageSliderContainer {
    gap: 0;
  }
}

@media (width < 975px) {
  .imagesContainer div:first-child {
    display: none;
  }
}

@media (width < 750px) {
  .imagesContainer div:first-child,
  .imagesContainer div:last-child {
    display: none;
  }
}

@media (width < 500px) {
  .imageSlider button {
    width: 50px;
    height: 50px;
  }
  .image {
    width: 150px;
    height: 150px;
  }

  .imagesContainer {
    height: 200px;
  }
}
