/* Hides increment/decrement arrows of number input in Chrome, Safari, Edge, Opera */
.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hides increment/decrement arrows of number input in Firefox */
.quantityInput[type="number"] {
  -moz-appearance: textfield;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.quantityInput {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 2px solid #0c0c0c;
}

.decrease,
.increase {
  width: 50px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
